.product-info{
    display: flex;
    gap: 1rem;
}
.product-name{
    font-weight: 500;
    font-size: 18px;
}

.product-info-text{
    font-size: 16px;
    font-weight: 500;
}

.cart-items-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quantity{
    color: var(--primary-red);
}
.item-price{
    color: var(--rose-300);
}
.remove-icon{
    background-color: transparent;
    border: 1px solid var(--rose-400);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}