.product-info{
    display: flex;
    gap: 1rem;
}
.product-name{
    font-weight: 500;
    font-size: 16px;
}

.product-info-text{
    font-size: 14px;
    font-weight: 500;
}

.cart-items-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quantity{
    color: var(--primary-red);
}
.item-price{
    color: var(--rose-300);
}
.remove-btn{
    background-color: transparent;
    border: 1.5px solid var(--rose-400);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove-btn:hover{
    background-color: var(--primary-red);
}