main{
    max-width: 1440px;
    margin: auto;
    padding: 4rem 2rem;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

app-products-list {
    grid-column: span 8;
}

app-products-cart {
    grid-column: span 4;
}