<aside>
    <h2 class="cart-title">Your Cart <span *ngIf="totalElements">({{totalElements}})</span></h2>
    <div class="cart-items-container">
        <app-cart-item *ngFor="let item of myCart$ | async" [item]="item"></app-cart-item>
    </div>
    <hr>
    <div class="total-order-container">
        <p class="total-order-label">Order Total</p>
        <p class="total-order-price">{{totalPrice |currency:"USD":"symbol":"1.2-2"}}</p>
    </div>
    <div>
        <button class="confirm-btn">Confirm Order</button>
    </div>
</aside>